<%- model_class = User -%>
<div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @user.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>
  <% if current_user?(@user) %>
	  <dt><strong>Tasks:</strong></dt>
	  <a href="<%= user_tasks_path(current_user) %>">
	    <dd><%= pluralize(current_user.tasks.count, "task") %></dd>
	  </a>
  <% else %>
	  <dt><strong>Tasks:</strong></dt>
	  <dd><%= pluralize(current_user.tasks.count, "task") %></dd>
  <% end %>
</dl>

</div>
